@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100vh;
  overflow: hidden;
}

.dynamic-padding {
  padding: clamp(0.5rem, 2vw, 1rem);
}

@media (orientation: portrait) {
  .h-screen {
    flex-direction: column;
  }
}

.grid {
  display: grid;
}

.grid-template-rows {
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-template-columns {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.qr-code canvas {
  border: 100px solid #ddd;
  border-radius: 8px;
  background-color: yellow;
}

/* Smaller room cards */
.room-card {
  padding: 0.5rem; /* Smaller padding */
  font-size: 0.8rem; /* Smaller font size */
  border-radius: 4px; /* Slightly rounded corners */
}

.room-card .qr-code {
  margin-top: 0.5rem;
}

.room-card .qr-code p {
  font-size: 0.7rem; /* Small text for QR instructions */
}

.room-card p {
  margin: 0.25rem 0; /* Reduce spacing between paragraphs */
}